.post {
  display: inline-block;
  width: 70%;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  transform: translateY(-50px);
  margin-top: 60px;
}

.vote {
  font-size: 25px;
  width: 5%;
  display: inline-block;
}

.vote .up,
.vote .down {
  font-size: 1.7em;
}
.vote .count {
  font-weight: bold;
  border: 1.5px solid black;
  padding: 6px 0;
  border-radius: 50%;
}

.vote div {
  text-align: center;
}

.hline {
  display: inline-block;
  height: 10px;
  width: 8%;
  transform: translate(0, -70px);
}

.wdetail span {
  margin-right: 15px;
}

.wdetail span i {
  margin-right: 5px;
}

.tile {
  display: inline-block;
  width: 45%;
  padding: 15px;
  text-align: center;
  color: whitesmoke;
  margin-left: 12px;
}

.tile-note {
  background-color: green;
  font-size: 50px;
}

.tile-aide {
  background-color: orangered;
  font-size: 50px;
}

.tile-contact {
  background-color: grey;
  height: 100px;
}
.tile-email {
  background-color: grey;
  height: 100px;
}

* {
  box-sizing: border-box;
}

.bio {
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}

.top-n {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
}

.mb {
  margin-bottom: 20px;
}
form {
  margin-bottom: 20px;
}
